/* ALL */
* {
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', serif;
}

body, html {
  height: 100vh;
}
body {
  font-size: 1.5em;
}

/* MAIN */

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 68vh;
}

/* HOME */
.home-container {
  width: 60%;
}

.sideways {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

#homeCarousel {
  max-height: none;
}

.container {
  margin: 1em auto;
}
.title {
color: #BF554C;
font-weight: 400;
letter-spacing: .08em;
font-size: 1.5em ;
}
.subtitle {
  color: #9DCAE5;
  font-weight: 300i;
  letter-spacing: .08em;
}

.welcome {
  color: #9DCAE5;
  font-weight: 300i;
  letter-spacing: .08em;
  text-align: left;
}
.description {
  font-size: .8em;
  margin: 0 0 0 1em;
}

.specialties {
  font-size: .9em;
}

.extra-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.extra-images img{
  height: 300px;
  width: 300px;

}


/* NAV */

.navbar {
  font-size: 1.0em;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.nav-item {
  margin: 0 1em;
}
.nav-item a:hover {
  background-color: pink;
}

.nav-link:hover p {
  color: purple;
  
}

.nav-link p {
  margin-bottom: 0;
}


/* SECTIONS */

.section-image {
  background-image: url(../src/components/Images/horse.png);
  height: 200px;
  background-position: center;
}

.pharma img {
  height: 300px;
  width: 300px;
}

/* SIDE NAVIGATION */
.dropdown-content {
  width: 60%;
  display: flex;
  flex-direction: row;
  font-size: .8em;
}

.dropdown-content a {
  font-size: 1.5em;
}
.dropdown-content ul {
  list-style: none;
  
}

.dropdown-content a {
  text-decoration: none;
}
/* FOOTER */
/* 
.footer-container {
  position: fixed;
  bottom: 0;
  min-width: 100%;
} */

.footer-container {
  height: 30%;
}
.prefooter {
  background-color: #7F7F7D;
  width: 100%;
  color: white;
  margin: 0px;
  font-size: 1em;
  padding: 2em;
}
.footer {
  background-color: #403F3F;
  width: 100%;
  color: white;
  margin: 0px;
  font-size: .6em;
  padding: 2em;
}
