/* ALL */
* {
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', serif;
}

body, html {
  height: 100vh;
}
body {
  font-size: 1.5em;
}

/* MAIN */

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 68vh;
}

/* HOME */
.home-container {
  width: 60%;
}

.sideways {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

#homeCarousel {
  max-height: none;
}

.container {
  margin: 1em auto;
}
.title {
color: #BF554C;
font-weight: 400;
letter-spacing: .08em;
font-size: 1.5em ;
}
.subtitle {
  color: #9DCAE5;
  font-weight: 300i;
  letter-spacing: .08em;
}

.cmk_full img {
  width: auto;
  max-height: 10em;
}

.welcome {
  color: #9DCAE5;
  font-weight: 300i;
  letter-spacing: .08em;
  text-align: left;
}
.description {
  font-size: .8em;
  margin: 0 0 0 1em;
}

.specialties {
  font-size: .9em;
}

.extra-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extra-links a {
  text-decoration: none;
}
.extra-images img{
  height: 12em;
  width: auto;
  margin: 1.5em 1.5em 0 1.5em;

}


/* ABOUT */

.about {
  width: 60%
}

.about * {
  margin: .5em;
}


.about-background {

  background-image: url(../src/components/Images/waves_cannon_07.jpg);
}

.about li {
  list-style: none;
}

/* NAV */

.navbar {
  font-size: 1.0em;
  padding: 0;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.nav-item {
  margin: 0 1em;
}
.nav-item a:hover {
  background-color: #9DCAE5;
}


.nav-link p {
  margin-bottom: 0;
}

.fade-out {

}

@keyframes fade-out {
  /* from { opacity: 1; }
  to   { opacity: 0; } */
  from { font-size: 1em; }
  to   { font-size: 2em; }
}
.fade-out {

  -webkit-animation: fade-out 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-out 2s ease-in; /* Firefox < 16 */
  -ms-animation: fade-out 2s ease-in; /* Internet Explorer */
  -o-animation: fade-out 2s ease-in; /* Opera < 12.1 */
  animation: fade-out 2s ease-in;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0;

  -webkit-animation: fade-in 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in 2s ease-in; /* Firefox < 16 */
  -ms-animation: fade-in 2s ease-in; /* Internet Explorer */
  -o-animation: fade-in 2s ease-in; /* Opera < 12.1 */
  animation: fade-in 2s ease-in;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* SECTIONS */

.section-image {
  height: 8em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* SECTION IMAGES */

.psychotherapy-image {
  background-position: 50% 45%;
  background-image: url(../src/components/Images/psychotherapy-banner.jpg);
}

.medication-image {
  background-position: 50%;
  background-image: url(../src/components/Images/1fd32a5a7af89ce657a1129e583d47be.jpg);
}

.genetic-image {
  background-position: 50% 45%;
  background-image: url(../src/components/Images/genetic-testing-banner.jpg);
}


.anxiety-image {
  background-position: 50%;
  background-image: url(../src/components/Images/knot.jpeg);
}

.depression-image {
  background-position: 50% 30%;
  background-image: url(../src/components/Images/depression-be.jpg);
}

.sleep-image {
  background-position: 50% 40%;
  background-image: url(../src/components/Images/Sleeping.jpeg);
}

.PTSD-image {
  background-position: 50% 70%;
  background-image: url(../src/components/Images/cc32e202-8685-48b5-bf52-c45da58bc4f6-large16x9_MO1_1838Edit.jpg);
}


.geriatric-image {
  background-position: 50% 40%;
  background-image: url(../src/components/Images/Senior-Travel-Problems.jpg);
}
/* SIDE NAVIGATION */
.dropdown-content {
  width: 60%;
  display: flex;
  flex-direction: row;
  font-size: .8em;
}

.dropdown-content a {
  font-size: 1.5em;
}
.dropdown-content ul {
  list-style: none;
  
}

.dropdown-content a {
  text-decoration: none;
}

/* POLICIES */

.policies-container h1 {
  width: 80%;
  margin: 1em 0;
}
/* MAP */

.m-container {
  min-height: 100vh;
}

.map-container {
  max-width: 70vh  !important;
  max-height: 70vh !important;
  left: 45vh;  
}
/* FOOTER */
/* 
.footer-container {
  position: fixed;
  bottom: 0;
  min-width: 100%;
} */

.footer-container {
  height: 30%;
}
.prefooter {
  background-color: #7F7F7D;
  width: 100%;
  color: white;
  margin: 0px;
  font-size: 1em;
  padding: 2em;
}
.footer {
  background-color: #403F3F;
  width: 100%;
  color: white;
  margin: 0px;
  font-size: .6em;
  padding: 2em;
}
